
    <h1>Lista de Productos en Tiempo Real</h1>

    {{!-- <ul id="product-list">
        {{#each products}}
        <li>{{this.title}}</li>
        {{/each}}
    </ul> --}}

    <ul class="productList">

    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>